.dashboard-header {
  position: fixed;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  height: 145px; 
  padding: 0 2rem; 
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  z-index: 100;
}

.dashboard-logo img {
  max-height: 150px;
  width: auto;
  display: block;
}
.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-header a {
  font-size: 1.15rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.header-fullwidth {
  left: 0;
  width: 100%;
  border-radius: 0; 
  background-color: rgba(171, 202, 125, 0.2); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.hamburger-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background: #111; 
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #2EB872, 0 0 10px #A3DE83, 0 0 15px #FBFFA3;
}

.hamburger-icon {
  position: relative;
  width: 30px;
  height: 22px;
  display: flex;
  align-items: center;
  transition: transform 0.5s;
}

.hamburger-wrapper.active .hamburger-icon {
  transform: rotate(315deg);
}

.hamburger-icon span {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(45deg, #2EB872, #A3DE83); 
  border-radius: 2px;
  box-shadow: 0 0 5px #2EB872, 0 0 10px #A3DE83, 0 0 15px #FBFFA3; 
  transition: all 0.3s;
}


.hamburger-icon span:nth-child(1) {
  top: 0;
}

.hamburger-wrapper.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background: linear-gradient(45deg, #A3DE83, #FBFFA3);
  box-shadow: 0 0 5px #A3DE83, 0 0 10px #FBFFA3, 0 0 15px #FBFFA3;
}


.hamburger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.hamburger-wrapper.active span:nth-child(2) {
  transform: scale(0);
  opacity: 0;
}


.hamburger-icon span:nth-child(3) {
  bottom: 0;
}

.hamburger-wrapper.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  background: linear-gradient(45deg, #A3DE83, #FBFFA3);
  box-shadow: 0 0 5px #A3DE83, 0 0 10px #FBFFA3, 0 0 15px #FBFFA3;
}

